/*  BASE IMPORTS  */

@import "partials/normalize";

//  VARIABLES

//..  FONTS

$heebo: Heebo, sans-serif;
$special: Special Elite, serif;

//..  COLOURS

$darkGrey: #3b3b3f; //     rgba(59,59,63,1.000)
$faintBlue: #9c97c8; //    rgba(156,151,200,1.000)
$faintGrey: #a3b2c4; //    rgba(163,178,196,1.000)
$darkSlate: #484a5f; //    rgba(72,74,95,1.000)
$lightBlue: #48a0f0; //    rgba(72,160,240,1.000)
$amber: #e99b36; //        rgba(233,155,54,1.000)

/*  BASE STYLES */

* {
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
  }
}

html {
  font: 125% $heebo;
}

body {
  background-color: $darkGrey;
  font-size: 1rem;
  color: #fff;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $amber;
  }
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

h1 {
  color: $lightBlue;
  font-size: 5rem;
}

h2 {
  color: #fff;
  font-size: 4rem;
}

h3 {
  color: $amber;
  text-transform: uppercase;
}

h4 {
  font-family: $special;
  font-size: 3rem;
}

h5 {
  font-family: $special;
  color: $lightBlue;
  font-size: 1.5rem;
  margin: 40px 0 15px;
}

h6 {
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 26px;
  color: $lightBlue;
}

/*  COMMON ELEMENTS */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 768;
}

button,
.mainNavItem,
.navText,
.learnMore {
  color: $lightBlue;
  text-transform: lowercase;
  font-size: 1.4rem;
}
.avContainer {
  width: 300px;
  height: 300px;
  position: relative;
  border: 10px solid white;
  border-radius: 150px;
  overflow: hidden;
  background-color: $darkSlate;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.sectionText {
  height: 70vh;
  max-height: 1000px;
  min-height: 485px;
  width: 70%;
}

section {
  padding: 80px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.sectionTitle {
  color: $lightBlue;
  position: absolute;
  font-size: 10rem;
  opacity: 0.1;
  z-index: 0;
  top: 5%;
  text-shadow: 0 0 10px #000;
  right: 5%;
  user-select: none;
  cursor: default;
  z-index:0;
}

/*	SKIP BOX  */

.skipbox {
  position: absolute;
  left: calc(50% - 100px);
  top: -1000px;
  z-index: 999;
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 200px;
}

.skipbox:focus {
  top: 0px;
}

/*  HEADER  */

header {
  height: 100vh;
  position: relative;
  background: linear-gradient(#3b3b3f, #3b3b3f), url("./../assets/mePic.jpg");
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-size: auto, auto;
  background-blend-mode: multiply;
  z-index: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 768px;
}

.headerBackgroundWrapper {
  height: 100%;
  width: 100%;
  filter: blur(8px);
  background-image: linear-gradient($darkGrey, $darkGrey), url("./../assets/mePic.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.mainNav {
  height: 100px;
  // background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  li a,
  li button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 160px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    border: none;
  }
  li:hover a,
  li:hover button {
    background-color: rgba(255, 255, 255, 0.2);
    color: $amber;
    border: 1px solid $amber;
  }
  h4 {
    color: $lightBlue;
    font-size: 2rem;
    margin:0 10px;
  }
}

.navText {
  font-size: 0.8rem;
  width: 40%;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.socialButtons {
  font-size: 1.2rem;
  a {
    transition: color 0.5s;
  }
  a:not(:last-child) {
    margin: 0 10px;
  }
  a:last-child {
    margin-left: 10px;
  }
}

.headerContainer {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 485px;
}

.centerHeaderItems {
  display: flex;
  width: 1000px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  border: 3px solid $lightBlue;
  border-radius: 5px;
  overflow: hidden;
  h2 {
    z-index: 5;
  }
}

.myPicContainer {
  margin-right: 50px;
  position: relative;
  img {
    border-radius: 0 350px 0 0;
    box-shadow: 0px 20px 0 25px $lightBlue;
  }
}

.backgroundStyle {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-25deg, $darkGrey 0% 27.85%, transparent 28% 100%),
    linear-gradient(-65deg, $darkSlate 0% 29.85%, transparent 30% 100%),
    linear-gradient(-80deg, rgba(163, 178, 196, 0.45) 0% 34.85%, transparent 35% 100%),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 500px;
  h1,
  h2 {
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
}

.headerTitles {
  margin-top: 20px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    text-align: right;
    align-self: flex-end;
    font-size: 2rem;
    justify-content: flex-end;
    width: 500px;
  }
}

.titleList {
  color: $faintBlue;
  text-transform: uppercase;
  font-size: 2.5rem;
  overflow: hidden;
  background-color: #000;
  border-radius: 50px;
  padding: 20px;
  position: relative;
  width: 450px;
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 14px;
  ul {
    position: relative;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    animation: titles infinite forwards 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  li {
    height: 73.7px;
    width: 370px;
  }
}

.fadeBorder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50px;
  background-image: linear-gradient(#000 10%, transparent 33% 67%, #000 90%);
  z-index: 1;
}

.learnMore {
  width: 250px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 50px;
  border: 4px solid #48a0f0;
  text-shadow: 0px 3px 8px black;
  margin-top: 5%;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e99b36;
    border-color: #e99b36;
  }
}

/*  ABOUT */

.paulAv {
  background-image: url("./../assets/meAvSkeleton.png");
  background-size: 100%;
  background-position: 50%;
  img {
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.1;
      transition: opacity 3.5s 1s;
    }
  }
}

.about {
  background-image: linear-gradient($darkGrey, $darkGrey), url("./../assets/matchBack.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.aboutText a {
  color: $lightBlue;
  &:hover {
    color: $amber;
  }
}

/*  SKILLS  */

.iconGallery {
  height: 220px;
  display: flex;
  width: 780px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  img {
    width: 90px;
    height: 90px;
    padding: 10px 15px;
    transition: width 0.5s, height 0.5s, margin 0.5s;
    margin: 10px 0;
    &:hover {
      width: 110px;
      height: 110px;
      margin: 0;
    }
  }
}

.skills {
  background-image: linear-gradient($darkGrey, $darkGrey), url("./../assets/codeBack.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*  PORTFOLIO */

.sectionText,
.portGallery,
.portText {
  overflow-y: auto;
}

.sectionText,
.portGallery {
  background-color: rgba(163, 178, 196, 0.2);
  border-radius: 20px;
  padding: 30px;
  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}

.portGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portItem {
  width: 350px;
  border-radius: 25px;
  background-color: rgba(0, 0, 5, 0.4);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 20px;
  h5 {
    text-align: center;
  }
  p {
    padding: 15px;
    font-size: 0.7rem;
    line-height: 22px;
  }
}

.portfolio {
  background-image: linear-gradient($darkGrey, $darkGrey), url("./../assets/workBack.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 60px;
}

.portImage {
  height: 250px;
  position: relative;
  img {
    object-fit: cover;
    height: 250px;
    object-position: center;
  }
}

.siteLink {
  opacity: 0;
  transition: opacity 0.5s;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 80, 0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  a {
    transition: color 0.5s;
  }
}

.portImage:hover .siteLink {
  opacity: 1;
}

.portText {
  height: 350px;
  padding: 15px;
  p {
    padding: 0;
    margin: 15px 0;
  }
  a {
    transition: color 0.5s;
  }
  a:not(:hover) {
    color: $lightBlue;
  }
}

.portItem {
  h5 a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    width: 275px;
    margin: 0 auto;
  }
}

.featureList {
  width: 250px;
  margin: 0 auto;
  h6 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
}

.yesFeature::after {
  content: "✔";
  text-align: right;
  color: limegreen;
  font-size: 0.9rem;
}

.partialFeature::after {
  color: transparent;
  -webkit-text-stroke: 1px rgba(25, 200, 0, 0.6);
  font-size: 1.2rem;
  position: relative;
  right: -3px;
}

.noFeature::after {
  content: "✖";
  text-align: right;
  color: red;
  font-size: 0.9rem;
}

/*  FOOTER  */

footer {
  align-items: center;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  letter-spacing: 0.3rem;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  transition: padding 0.5s, height 0.5s, opacity 0.5s;
  cursor: default;
  p {
    margin: 0;
  }
  &:hover {
    height: 60px;
    padding: 10px 0;
    opacity: 1;
    a {
      color: $lightBlue;
      text-decoration: underline;
    }
  }
}

/*  OVERRIDE/RESPONSIVENESS/ANIMATION IMPORTS  */

@import "partials/animations";
@import "partials/1600";
@import "partials/1280";
@import "partials/1024";
@import "partials/768";
@import "partials/420";
