/*  BASE IMPORTS  */

@import "partials/normalize";
//  VARIABLES
//..  FONTS
$heebo: Heebo,
sans-serif;
$special: Special Elite,
serif;
//..  COLOURS
$darkGrey: #3b3b3f; //     rgba(59,59,63,1.000)
$faintBlue: #9c97c8; //    rgba(156,151,200,1.000)
$faintGrey: #a3b2c4; //    rgba(163,178,196,1.000)
$darkSlate: #484a5f; //    rgba(72,74,95,1.000)
$lightBlue: #48a0f0; //    rgba(72,160,240,1.000)
$amber: #e99b36; //        rgba(233,155,54,1.000)

/*  BASE STYLES */

* {
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
  }
}

html {
  font: 125% $heebo;
}

body {
  font-size: 1rem;
  color: #fff;
  position: relative;
  background-color: #0f0f15;
}

a,
.upArrow {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $amber;
  }
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

h1 {
  color: $lightBlue;
  font-size: 5rem;
}

h2 {
  color: #fff;
  font-size: 4rem;
}

h3 {
  color: $amber;
  text-transform: uppercase;
}

h4 {
  font-family: $special;
  font-size: 2rem;
}

h5 {
  font-family: $special;
  color: $lightBlue;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h5:not(:first-child) {
  margin-top: 40px;
}

h6 {
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 26px;
  color: $lightBlue;
  &.ds {
    font-size: .4rem;
    color: #777;
    text-align: center;
    transform: translateY(-5px);
    font-style: italic;
    text-shadow: 0 0 5px #000
  }
  &.smallCaption {
    font-size: .5rem;
    font-weight: 400;
    font-style: italic;
    position: relative;
    bottom: 8px;
  }
}


/*  COMMON ELEMENTS */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 768;
}

button,
.mainNavItem a,
.learnMore {
  color: $lightBlue;
  text-transform: lowercase;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, .5);
  border: 0;
  box-shadow: inset 0 0 0 2px $lightBlue;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color 0.3s;
  margin: 0 5px;
  cursor: pointer;
  &::before {
    border: 2px solid transparent;
    top: 0;
    left: 0;
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  &:hover {
    color: $amber;
  }
  &:hover::before {
    border-top-color: $amber; // Show borders
    border-right-color: $amber;
    border-bottom-color: $amber;
    border-left-color: $amber;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s, border-left-color 0.15s linear 0.3s;
  }
}

.avContainer {
  width: 300px;
  height: 300px;
  position: relative;
  border: 10px solid white;
  border-radius: 150px;
  overflow: hidden;
  background-color: $darkSlate;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

section {
  padding: 80px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.sectionTitle {
  color: $lightBlue;
  font-size: 6rem;
  opacity: 0.5;
  z-index: 0;
  text-shadow: 0 0 10px #000;
  user-select: none;
  cursor: default;
  z-index: 0;
  height: 150px;
  transform: rotate(17deg);
}


/*	SKIP BOX  */

.skipbox {
  position: absolute;
  left: calc(50% - 100px);
  top: -1000px;
  z-index: 999;
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 200px;
}

.skipbox:focus {
  top: 0px;
}


/*  HEADER  */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  min-width: 340px;
}

.introSection {
  height: 100vh;
  padding-top: 115px;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(75deg, darken($darkGrey, 17%) 0% 27.85%, transparent 28% 100%), linear-gradient(115deg, darken($darkSlate, 21%) 0% 29.85%, transparent 30% 100%), linear-gradient(150deg, rgba(163, 178, 196, 0.03) 0% 34.85%, transparent 35% 100%);
  overflow: hidden;
  min-height: 768px;
}

.mainNav {
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  transition: background-color 0.5s, height 0.5s;
  .navButton,
  .mainNavItem a {
    font-size: 1rem;
    width: 160px;
    height: 40px;
  }
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
  h4 {
    color: $lightBlue;
    font-size: 2rem;
    margin: 0 10px;
    user-select: none;
    cursor: default;
    transition: color 0.5s;
    width: 30%;
    margin-left: 5%;
    &:hover {
      color: #fff;
    }
  }
}

.scrollDownNav {
  background-color: rgba(0, 0, 0, .8);
  height: 65px;
}

.lintboxFlag {
  padding-top: 10px;
}

.scrollDown {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.8);
}

.navText {
  color: $lightBlue;
  height: 150px;
  text-align: right;
  position: fixed;
  top: calc(100vh - 150px);
  right: 0;
  z-index: 9999;
  font-size: 1rem;
  padding: 20px 30px 20px 0;
  width: 415px;
  border-radius: 15px 0 0 0;
  transition: background-color 0.5s, padding 0.5s, font-size 0.5s, width 0.5s, height 0.5s, top 0.5s;
}

.scrollDownText {
  font-size: 0.8rem;
  background-color: rgba(17, 17, 17, 0.9);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
  top: calc(100vh - 50px);
  align-items: center;
  height: 50px;
  border-radius: 0;
}

.socialButtons {
  font-size: 1.8rem;
  transition: font-size 0.5s;
  div a,
  div i {
    transition: color 0.5s;
    cursor: pointer;
  }
  div {
    display: inline;
  }
  div:not(:last-child) {
    margin: 0 10px;
  }
  div:last-child {
    margin-left: 40px;
    margin-right: 0px;
  }
}

.scrollDownText .socialButtons {
  font-size: 1.4rem;
}

.headerContainer {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 485px;
}

.centerHeaderItems {
  display: flex;
  width: 1000px;
  height: 300px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  border: 3px solid $lightBlue;
  border-radius: 5px;
  overflow: hidden;
  h2 {
    z-index: 5;
  }
}

.myPicContainer {
  margin-right: 50px;
  position: relative;
  img {
    border-radius: 0 350px 0 0;
    box-shadow: 0px 20px 0 25px $lightBlue;
  }
}

.backgroundStyle {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-25deg, $darkGrey 0% 27.85%, transparent 28% 100%), linear-gradient(-65deg, $darkSlate 0% 29.85%, transparent 30% 100%), linear-gradient(-80deg, rgba(163, 178, 196, 0.45) 0% 34.85%, transparent 35% 100%), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 500px;
  line-height: 100px;
  h1,
  h2 {
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
}

.headerTitles {
  margin-top: 20px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    text-align: right;
    align-self: flex-end;
    font-size: 2rem;
    justify-content: flex-end;
    width: 500px;
  }
}

.titleList {
  color: $faintBlue;
  text-transform: uppercase;
  font-size: 2.5rem;
  overflow: hidden;
  background-color: #000;
  border-radius: 50px;
  padding: 20px;
  position: relative;
  width: 450px;
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 14px;
  ul {
    position: relative;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    animation: titles infinite forwards 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  li {
    height: 73.7px;
    width: 370px;
  }
}

.fadeBorder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50px;
  background-image: linear-gradient(#000 10%, transparent 33% 67%, #000 90%);
  z-index: 1;
}

.learnMore {
  width: 250px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  text-shadow: 0px 3px 8px black;
  margin-top: 5%;
}


/*  ABOUT */

main {
  overflow: hidden;
}

.paulAv {
  background-image: url("./../assets/meAvSkeleton.png");
  background-size: 100%;
  background-position: 50%;
  img {
    border-radius: 150px;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.1;
      transition: opacity 3.5s 1s;
    }
  }
}

.about {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(-215deg, darken($darkGrey, 17%) 0% 27.9%, transparent 28% 100%), linear-gradient(-245deg, darken($darkSlate, 23%) 0% 29.9%, transparent 30% 100%), linear-gradient(-185deg, rgba(163, 178, 196, 0.03) 0% 34.9%, transparent 35% 100%);
}

.aboutText a {
  color: $lightBlue;
  &:hover {
    color: $amber;
  }
}


/*  SKILLS  */

.rightSkillsBox {
  width: 30%;
  h5 {
    text-align: center;
  }
}

.toolKit h5 {
  margin-top: 15px;
}

.iconGallery {
  display: flex;
  width: 380px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  img {
    width: 90px;
    height: 60px;
    padding: 0 15px;
    transition: width 0.5s, height 0.5s, margin 0.5s;
    margin: 10px 0;
    &:hover {
      width: 110px;
      height: 80px;
      margin: 0;
      filter: hue-rotate(140deg) brightness(0.8) saturate(2.5);
    }
  }
}

.skills {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(-125deg, rgba(163, 178, 196, 0.03) 0% 34.9%, transparent 35% 100%), linear-gradient(-145deg, darken($darkSlate, 23%) 0% 29.9%, transparent 30% 100%), linear-gradient(-55deg, darken($darkGrey, 17%) 0% 57.9%, transparent 58% 100%);
}


/*  PORTFOLIO */

.sectionText {
  width: 70%;
  overflow-y: auto;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 20px;
  padding: 30px;
  p {
    font-size: .8rem;
    line-height: 1.4rem;
    margin-bottom: 0.8rem;
  }
  a {
    color: $lightBlue;
    transition: color .5s;
    &:hover {
      color: $amber;
    }
  }
}

.portGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.figContainer {
  background-color: rgba(50, 50, 50, 0.9);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 15px;
  p {
    padding: 0;
    font-size: 0.9rem;
    line-height: 26px;
    margin: 0 0 15px;
  }
  h5 a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    width: 275px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }
}

.portItem {
  margin: 0 0 150px;
  width: 100%;
  h4 {
    color: #fff;
    margin: 0 0 20px;
    font-size: 2.4rem;
  }
  &:nth-child(even) {
    h4 {
      text-align: right;
    }
    .portImage {
      order: 2;
    }
    .portText {
      order: 1;
    }
  }
}

.portfolio {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(-25deg, darken($darkGrey, 17%) 0% 27.85%, transparent 28% 100%), linear-gradient(-65deg, darken($darkSlate, 23%) 0% 29.85%, transparent 30% 100%), linear-gradient(-80deg, rgba(163, 178, 196, 0.03) 0% 34.85%, transparent 35% 100%);
  padding-bottom: 60px;
}

.portImage {
  width: 400px;
  overflow: hidden;
  position: relative;
  img {
    object-fit: cover;
    height: 100%;
    object-position: center;
  }
}

.siteLink {
  opacity: 0;
  transition: opacity 0.5s;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 80, 0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightBlue;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  a,
  a h6 {
    transition: color 0.5s;
    text-shadow: 0 0 3px #000;
    &:hover h6 {
      color: $amber;
    }
  }
  .portLink {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 15px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.portLink {
  margin: 0 10px;
  font-size: 2rem;
  width: calc(100% / 3);
  max-width: 125px;
  text-align: center;
}

.portImage:hover .siteLink {
  opacity: 1;
}

.portText {
  width: calc(100% - 400px);
  padding: 30px 35px 0;
  display: flex;
  flex-wrap: wrap;
  h5 {
    width: calc(100% - 450px);
    height: 40px;
    margin: 0 0 0 50px;
    text-align: left;
  }
  a {
    transition: color 0.5s;
  }
  a:not(:hover) {
    color: $lightBlue;
  }
}

.portLinks {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  width: 100%;
  margin-top: 20px;
  i {
    font-size: 1.9rem;
  }
  a h6 {
    transition: color 0.5s;
  }
  a:hover h6 {
    color: $amber;
  }
}

.featureList {
  display: flex;
  flex-wrap: wrap;
  order: 3;
  z-index: 0;
  position: relative;
}

.featureItem {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.6rem;
  line-height: 26px;
  width: 200px;
  margin: 0 20px 10px 0;
  border-radius: 15px 120px 10px 15px;
  padding-left: 10px;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  cursor: default;
  user-select: none;
  z-index: 1;
  background-image: linear-gradient(45deg, #666 0 90.5%, transparent 91%);
  &::after {
    background-image: linear-gradient(45deg, $lightBlue 0 90.5%, transparent 91%);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    z-index: -1;
    transition: left 0.5s;
  }
  &:hover::after {
    left: 0;
  }
}


/*  FOOTER  */

footer {
  align-items: center;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  letter-spacing: 0.3rem;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 1);
  height: 30px;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  margin-bottom: 50px;
  transition: padding 0.5s, height 0.5s, opacity 0.5s;
  cursor: default;
  p {
    margin: 0;
  }
  &:hover {
    height: 60px;
    padding: 10px 0;
    opacity: 1;
    a {
      color: $lightBlue;
      text-decoration: underline;
    }
  }
}


/*  OVERRIDE/RESPONSIVENESS/ANIMATION IMPORTS  */

@import "partials/animations";
@import "partials/1280";
@import "partials/1024";
@import "partials/768";
@import "partials/420";
@import "partials/_h690"