@media screen and (max-width:1280px) {
  .wrapper {
    max-width: 1280px
  }
  .sectionContainer {
    padding: 0 20px
  }
  .avContainer {
    margin: 0 auto;
    border-width: 5px
  }
  .paulAv {
    width: 200px;
    height: 200px
  }
  .doot {
    left: -8px;
    width: 95px;
    height: 95px;
    top: 341px;
    background-size: 100%;
  }
  .axoLogo {
    transform: scale(.667);
    top: -40px
  }
  .iconGallery,
  .rightSkillsBox h5 {
    position: relative;
    top: -40px;
    width: 285px
  }
  .iconGallery img:hover {
    width: 100px;
    height: 70px
  }
  .sectionText {
    width: calc(100% - 240px)
  }
  .portItem {
    padding: 0 15px;
  }
  .figContainer p {
    font-size: .8rem
  }
}