  @media screen and (max-width:420px) {
    // .mainNav .mainNavItem {
    //   width: 50%
    // }
    .sectionTitle {
      font-size: 2.5rem
    }
    .sectionContainer {
      padding: 0
    }
    .skillsText {
      padding-bottom: 320px
    }
    .iconGallery {
      height: unset
    }
    .iconGallery img,
    .iconGallery img:hover {
      width: 80px;
      height: 70px;
      margin: 0
    }
    .navText p {
      font-size: .6rem
    }
    .titleList {
      transform: scale(.65)
    }
    .sectionText {
      border-radius: unset;
      padding-left: 5px;
      padding-right: 5px;
      background: 0 0
    }
    .rightSkillsBox {
      width: 100%
    }
    .figContainer {
      border-radius: 0
    }
    .portItem {
      padding: 0
    }
    .featureList .featureItem {
      width: 100%;
      margin-right: 0
    }
    .portLink {
      text-align: center
    }
    .portLink i {
      width: 100%;
      margin: 0 auto
    }
    .portLink h6 {
      font-size: .5rem
    }
    footer {
      letter-spacing: .1rem
    }
  }
  
  @media screen and (max-width:320px) {
    html {
      min-width: 320px;
      overflow-x: scroll;
    }
  }