$darkGrey: #3b3b3f; //     rgba(59,59,63,1.000)
$faintBlue: #9c97c8; //    rgba(156,151,200,1.000)
$faintGrey: #a3b2c4; //    rgba(163,178,196,1.000)
$darkSlate: #484a5f; //    rgba(72,74,95,1.000)
$lightBlue: #48a0f0; //    rgba(72,160,240,1.000)
$amber: #e99b36; //        rgba(233,155,54,1.000)
@media screen and (max-width:768px) {
  html {
    overflow-x: auto;
  }
  .wrapper {
    max-width: 768px
  }
  .introSection {
    padding-top: 40px;
  }
  header {
    top: 0;
    height: 0;
    background-color: unset;
  }
  // .mainNav {
  //   height: unset;
  //   padding: 20px 10px 10px
  // }
  .mainNav {
    position: absolute;
    border-bottom-left-radius: 10px;
    transition: right .5s;
    height: 100vh;
    padding-bottom: 20vh;
    top: 0;
    background-color: rgba(10, 10, 12, 0.99);
    right: -100%;
    ul {
      flex-direction: column;
      align-items: center;
      margin: 80px git st0 0 0;
      border-bottom-left-radius: 20px;
      padding-top: 70px;
      .mainNavItem {
        width: 90%;
        margin: 20px 0;
      }
      .navButton,
      button,
      .mainNavItem a {
        background-image: url(../assets/arrow.svg);
        background-size: .5em;
        background-repeat: no-repeat;
        background-position: 15px 50%;
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 0;
      }
    }
  }
  // .mainNav .mainNavItem {
  //   margin-bottom: 10px;
  //   width: 25%;
  //   height: 50px
  // }
  // .mainNav h4 {
  //   width: 100%;
  //   text-align: center
  // }
  // .mainNav .mainNavItem a,
  // .mainNav .navButton {
  //   width: 95%;
  //   height: 95%;
  //   font-size: .8rem
  // }
  .mobileNavButton {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    right: 25px;
    top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: background-color .3s;
  }
  .mobileNavButtonClick {
    background-color: transparent;
  }
  .mobileBar {
    width: 35px;
    border-bottom: 4px solid #48a0f0;
    // border-radius: 10px;
  }
  .mainNavClick {
    right: 0;
  }
  .learnMore {
    margin: 5% 0
  }
  .mobileExclude {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0
  }
  .portLinks {
    margin-bottom: 10px
  }
  .featureSocM {
    font-size: .5rem;
  }
  .iconGallery {
    margin: 0;
    width: 100%;
    height: 110px
  }
  .iconGallery img,
  .iconGallery img:hover {
    width: 70px;
    height: 50px;
    margin: 0
  }
  .toolKit {
    order: 2
  }
  .axoLogo {
    order: 1
  }
  .axoLogo:hover .axolotl,
  .axolotl {
    background-image: url(../assets/axologosmile.svg);
    transform: rotate(1deg);
  }
  .axoLogo:hover .bubbles,
  .bubbles {
    animation-name: bubble;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards
  }
  .portText {
    padding: 30px 15px 0
  }
  .sectionTitle {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 60px
  }
  .sectionContainer {
    flex-direction: column
  }
  .sectionText {
    width: 100%
  }
  .sectionText p {
    font-size: .8rem;
    line-height: 24px
  }
  .avContainer {
    margin: 30px auto
  }
  .headerContainer {
    height: calc(100% - 280px);
    min-height: 645px;
    padding-top: 60px;
  }
  .myPicContainer {
    display: none
  }
  .centerHeaderItems {
    flex-direction: column;
    height: 40vh;
    min-height: 300px;
  }
  .centerHeaderItems h2 {
    font-size: 2.5rem
  }
  .centerHeaderItems h1 {
    font-size: 3.2rem
  }
  .headerText {
    justify-content: center;
    height: 100%;
    margin: 0;
    width: unset
  }
  .headerText h1,
  .headerText h2 {
    width: 100%;
    align-self: flex-start;
    padding-left: 25px;
    line-height: 70px
  }
  .navText {
    font-size: .8rem;
    flex-wrap: wrap;
    top: calc(100vh - 80px);
    p {
      transition: opacity .3s;
    }
  }
  .scrollDown {
    background-color: #000;
    .navText p {
      opacity: 0;
    }
  }
  .scrollDown .mainNavItem {
    margin-bottom: unset;
    margin-top: 5px
  }
  .scrollDownText {
    top: calc(100vh - 50px)
  }
  .scrollDownText p {
    height: 0;
    opacity: 0
  }
  .featureItem {
    width: calc(50% - 20px)
  }
  .skillsText {
    padding-bottom: 210px;
    margin-top: 290px
  }
  .rightSkillsBox {
    margin-top: 40px;
    height: calc(100% - 370px)
  }
  .socialButtons {
    order: 1;
    width: 100%;
    text-align: left;
    display: flex
  }
  .socialButtons div:first-child {
    margin-left: 0
  }
  .socialButtons div:last-child {
    margin-left: auto;
    margin-right: 0
  }
  .headerTitles {
    flex-direction: column;
    justify-content: unset;
    align-items: center
  }
  .headerTitles h3 {
    margin: 0 auto;
    font-size: 1.5rem
  }
  .titleList {
    transform: scale(.8)
  }
  .portGallery {
    padding: 0 5px
  }
  .portItem {
    width: 100%;
    margin: 0 0 80px;
  }
  footer {
    margin-bottom: 40px
  }
}