@media screen and (max-width: 768px) {
  body {
    min-width: 30px;
  }

  .wrapper {
    max-width: 768px;
  }

  header {
    min-height: 910px;
  }

  .learnMore {
    margin:5% 0;
  }

  .mainNav {
    height: 200px;
    padding: 5px;
    ul {
      flex-direction: column;
      width: 100%;
      height: 150px;
      flex-wrap: wrap;
    }
  }

  .mainNav li {
    width: calc(50% - 10px);
    a,
    button {
      font-size: 1rem;
      padding: 30px;
      width: 100%;
    }
  }

  .iconGallery {
    margin:0;
    width:100%;
    height:130px;
    img:hover,
    img {
      width: 70px;
      height: 70px;
      margin: 0;
    }
  }

  .skillsText {
    order: 2;
  }

  .axoLogo {
    order: 1;
  }

  .axoLogo:hover .axolotl,
  .axolotl {
    background-image: url("../assets/axologosmile.svg");
    transform: rotate(1deg);
    background-size: 170px;
    transition: background-size 0.6s cubic-bezier(0.5, 10, 0.5, 10), transform 0.6s cubic-bezier(0.5, -5, 0.5, 5);
  }

  .axoLogo:hover .bubbles,
  .bubbles {
    animation-name: bubble;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .sectionTitle {
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }

  .sectionContainer {
    flex-direction: column;
  }

  .sectionText {
    width: 100%;
    p {
      font-size: .8rem;
      line-height: 24px;
    }
  }

  .avContainer {
    margin: 30px auto;
  }

  .headerBackgroundWrapper {
    filter: unset;
  }

  .headerContainer {
    height: calc(100% - 280px);
    min-height: 630px;
  }

  .myPicContainer {
    display: none;
  }

  .centerHeaderItems {
    flex-direction: column;
    height: 300px;
  }

  .headerText {
    margin:0;
    h1,
    h2 {
      width: 100%;
      align-self: flex-start;
      padding-left: 25px;
    }
  }

  .headerTitles {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    h3 {
      margin: 0 auto;
    }
  }

  .titleList {
    margin: 0 auto;
    width: 400px;
  }

  .navText {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    right: unset;
    bottom: 20px;
    padding: 0 15px;
    a:not(:last-child),
    a:last-child {
      margin: 0;
    }
  }

  .socialButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
  }

.portGallery {
  padding:0 5px;
}

.portItem {
  width:100%;
}

}
