@media screen and (max-width: 768px) {
  body {
    min-width: 30px;
  }

  h4 {
    font-size: 2rem;
  }

  .wrapper {
    max-width: 768px;
  }

  .introSection {
    padding-top: 195px;
  }

  .mainNav {
    height: unset;
    padding: 0 10px;
    ul {
      flex-wrap: wrap;
      width: 100%;
    }
    .mainNavItem {
      margin-bottom: 10px;
      width: 50%;
      height: 60px;
    }
    h4 {
      width:100%;
      text-align:center;
    }
    .navButton,
    .mainNavItem a {
      width: 95%;
      height: 95%;
      font-size: 1.3rem;
    }
  }

  .learnMore {
    margin: 5% 0;
  }

  .mobileExclude {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .portLinks {
    margin-bottom: 10px;
  }

  .iconGallery {
    margin: 0;
    width: 100%;
    height: 170px;
    img:hover,
    img {
      width: 70px;
      height: 70px;
      margin: 0;
    }
  }

  .toolKit {
    order: 2;
  }

  .axoLogo {
    order: 1;
  }

  .axoLogo:hover .axolotl,
  .axolotl {
    background-image: url("../assets/axologosmile.svg");
    transform: rotate(1deg);
    background-size: 170px;
    transition: background-size 0.6s cubic-bezier(0.5, 10, 0.5, 10), transform 0.6s cubic-bezier(0.5, -5, 0.5, 5);
  }

  .axoLogo:hover .bubbles,
  .bubbles {
    animation-name: bubble;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .portText {
    padding: 30px 15px 0;
  }

  .sectionTitle {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 60px;
  }

  .sectionContainer {
    flex-direction: column;
  }

  .sectionText {
    width: 100%;
    p {
      font-size: 0.8rem;
      line-height: 24px;
    }
  }

  .avContainer {
    margin: 30px auto;
  }

  .headerContainer {
    height: calc(100% - 280px);
    min-height: 645px;
  }

  .myPicContainer {
    display: none;
  }

  .centerHeaderItems {
    flex-direction: column;
    height: 225px;
    h2 {
      font-size: 2.5rem;
    }
    h1 {
      font-size: 3.2rem;
    }
  }

  .headerText {
    justify-content: center;
    height: 100%;
    margin: 0;
    width:unset;
    h1,
    h2 {
      width: 100%;
      align-self: flex-start;
      padding-left: 25px;
      line-height: 70px;
    }
  }

  .navText {
    font-size: 0.8rem;
    flex-wrap: wrap;
    top: calc(100vh - 80px);
    p {
      order: 2;
      width: 50%;
      transition: opacity 0.5s, height 0.5s;
    }
    p:first-child {
      text-align: left;
    }
    p:last-child {
      text-align: right;
    }
  }

  .scrollDown {
    background-color:#000;
    .mainNavItem {
      margin-bottom: unset;
      margin-top: 5px;
    }
  }

  .scrollDownText {
    top: calc(100vh - 40px);
    p {
      height: 0;
      opacity: 0;
    }
  }

  .featureList .featureOrigAPI {
    width: 200px;
    margin: 0 auto;
  }

  .featureItem {
    width: calc(50% - 20px);
  }

  .skillsText {
    padding-bottom: 260px;
    margin-top: 290px;
  }

  .rightSkillsBox {
    margin-top: 40px;
    height: calc(100% - 370px);
  }

  .socialButtons {
    order: 1;
    width: 100%;
    text-align: left;
    display: flex;
    div:first-child {
      margin-left: 0;
    }
    div:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .headerTitles {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    h3 {
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }

  .titleList {
    transform: scale(0.8);
  }

  .portGallery {
    padding: 0 5px;
  }

  .portItem {
    width: 100%;
  }

  footer {
    margin-bottom: 40px;
  }
}
