@media screen and (max-height:690px) {
  .navText {
    font-size: 0.8rem;
    background-color: rgba(17, 17, 17, 0.9);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px 6px;
    top: calc(100vh - 40px);
    align-items: center;
    height: 50px;
    border-radius: 0;
  }
  .socialButtons,
  .scrollDownText .socialButtons {
    font-size: 1.4rem;
    margin-top: 0;
    padding-top: 0px;
  }
}